.dashboard-update-item-delete, .dashboard-item-delete:hover{
   color: red !important; 
   cursor: pointer;
}
.update-item.removed .dashboard-update-item-delete{
   cursor: default;
}

.update-item.removed * {
   text-decoration: line-through !important;
}